body {
  background: linear-gradient(#aaa, #eee);
}
#reset {
  top: 85%;
  left: 88%;
  position: absolute;
  height: 15%;
  width: 10%;
  background-color: gray;
  color: white;
}
#display-box {
  width: 30%;
  height: 15%;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: white;
  background-color: black;
}
@media (max-width: 2400px) {
  .letter {
    min-width: 1800px;
    font-size: 200px;
  }
}
@media (max-width: 1800px) {
  .letter {
    min-width: 900px;
    font-size: 200px;
  }
}
@media  (max-width: 1200px) {
  .letter {
    min-width: 600px;
    font-size: 100px;
}
}
@media (max-width: 600px) {
  .letter {
    min-width: 300px;
    font-size: 50px;
  }
}
@media (max-width: 120px) {
  .letter {
    min-width: 60px;
    font-size: 10px;
  }
}
button {
  width: 75%;
  height: 75%;
}
#box-1 {
  top: 30%;
  left: 20%;
  position: absolute;
  width: 20%;
  height: 20%;
  background: linear-gradient(#aaa, #eee);
  border: 5px solid black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box-2 {
  top: 30%;
  left: 40%;
  position: absolute;
  height: 20%;
  width: 20%;
  background: linear-gradient(#aaa, #eee);
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box-3 {
  top: 30%;
  left: 60%;
  position: absolute;
  width: 20%;
  height: 20%;
  background: linear-gradient(#aaa, #eee);
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box-4 {
  top: 50%;
  left:20%;
  position: absolute;
  width: 20%;
  height:20%;
  background: linear-gradient(#aaa, #eee);
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box-5 {
  top: 50%;
  left: 40%;
  position:absolute;
  width: 20%;
  height: 20%;
  background: linear-gradient(#aaa, #eee);
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box-6 {
  top: 50%;
  left: 60%;
  position:absolute;
  width: 20%;
  height: 20%;
  background: linear-gradient(#aaa, #eee);
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box-7 {
  top: 70%;
  left: 20%;
  position:absolute;
  width: 20%;
  height: 20%;
  background: linear-gradient(#aaa, #eee);
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box-8 {
  top: 70%;
  left: 40%;
  position:absolute;
  width: 20%;
  height: 20%;
  background: linear-gradient(#aaa, #eee);
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box-9 {
  top: 70%;
  left: 60%;
  position:absolute;
  width: 20%;
  height: 20%;
  background: linear-gradient(#aaa, #eee);
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#box-10{
  top: 0%;
  left: 0%;
  position:absolute;
  width: 100%;
  height: 25%;
  background: linear-gradient(#aaa, #eee);
  border: 5px solid black;
  display: flex;
  justify-content: center;
}
